{"openapi":"3.0.0","info":{"title":"ORDS generated API for quality","version":"1.0.0"},"servers":[{"url":"https://g4b9bc24e36abdb-atpintellinum.adb.us-ashburn-1.oraclecloudapps.com/ords/qcm_demo/quality"}],"paths":{"/case":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/VARCHAR2"},"affected_lot_lpn":{"$ref":"#/components/schemas/VARCHAR2"},"assigned_to":{"$ref":"#/components/schemas/VARCHAR2"},"case_number":{"$ref":"#/components/schemas/VARCHAR2"},"case_resolution":{"$ref":"#/components/schemas/VARCHAR2"},"case_status":{"$ref":"#/components/schemas/VARCHAR2"},"case_type":{"$ref":"#/components/schemas/VARCHAR2"},"case_type_id":{"$ref":"#/components/schemas/NUMBER"},"case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"description":{"$ref":"#/components/schemas/VARCHAR2"},"error_msg":{"$ref":"#/components/schemas/VARCHAR2"},"facility_code":{"$ref":"#/components/schemas/VARCHAR2"},"facility_id":{"$ref":"#/components/schemas/NUMBER"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"priority_level":{"$ref":"#/components/schemas/VARCHAR2"},"source_application":{"$ref":"#/components/schemas/VARCHAR2"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"caseNumber","in":"header","schema":{"type":"string"}},{"name":"caseTypeName","in":"header","schema":{"type":"string"}},{"name":"caseType","in":"header","schema":{"type":"string"}},{"name":"facilityCode","in":"header","schema":{"type":"string"}},{"name":"status","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"caseId":{"type":"integer"},"caseNumber":{"type":"string"},"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"integer"}}]}},"/case-aging-schedule":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_id":{"$ref":"#/components/schemas/NUMBER"},"case_number":{"$ref":"#/components/schemas/VARCHAR2"},"facility_timezone":{"$ref":"#/components/schemas/VARCHAR2"},"frequency":{"$ref":"#/components/schemas/VARCHAR2"},"reason_code":{"$ref":"#/components/schemas/VARCHAR2"},"schedule_id":{"$ref":"#/components/schemas/NUMBER"},"schedule_settings_id":{"$ref":"#/components/schemas/NUMBER"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"time":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}}},"/case-attachment":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"attachment_id":{"$ref":"#/components/schemas/NUMBER"},"bucket_name":{"$ref":"#/components/schemas/VARCHAR2"},"bucket_namespace":{"$ref":"#/components/schemas/VARCHAR2"},"case_id":{"$ref":"#/components/schemas/NUMBER"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"file_name":{"$ref":"#/components/schemas/VARCHAR2"},"file_type":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"integer"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"attachmentId","in":"header","schema":{"type":"string"}}]}},"/case-audit":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"action":{"$ref":"#/components/schemas/VARCHAR2"},"affected_lot_lpn":{"$ref":"#/components/schemas/VARCHAR2"},"assigned_to":{"$ref":"#/components/schemas/VARCHAR2"},"case_id":{"$ref":"#/components/schemas/NUMBER"},"case_number":{"$ref":"#/components/schemas/VARCHAR2"},"case_resolution":{"$ref":"#/components/schemas/VARCHAR2"},"case_type_id":{"$ref":"#/components/schemas/NUMBER"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/TIMESTAMP"},"description":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/TIMESTAMP"},"new_case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"new_error_msg":{"$ref":"#/components/schemas/VARCHAR2"},"new_status_value":{"$ref":"#/components/schemas/VARCHAR2"},"old_case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"old_error_msg":{"$ref":"#/components/schemas/VARCHAR2"},"old_status_value":{"$ref":"#/components/schemas/VARCHAR2"},"priority_level":{"$ref":"#/components/schemas/VARCHAR2"},"source_application":{"$ref":"#/components/schemas/VARCHAR2"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"assignedTo","in":"header","schema":{"type":"string"}},{"name":"caseNumber","in":"header","schema":{"type":"string"}},{"name":"caseResolution","in":"header","schema":{"type":"string"}},{"name":"description","in":"header","schema":{"type":"string"}},{"name":"lastUpdateDate","in":"header","schema":{"type":"string"}},{"name":"newCaseType","in":"header","schema":{"type":"string"}},{"name":"newStatus","in":"header","schema":{"type":"string"}},{"name":"oldCaseType","in":"header","schema":{"type":"string"}},{"name":"oldStatus","in":"header","schema":{"type":"string"}},{"name":"priorityLevel","in":"header","schema":{"type":"string"}},{"name":"sourceApplication","in":"header","schema":{"type":"string"}}]}},"/case-flex-data":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_id":{"$ref":"#/components/schemas/NUMBER"},"config_id":{"$ref":"#/components/schemas/NUMBER"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"field_key":{"$ref":"#/components/schemas/VARCHAR2"},"field_value":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"flexDataId","in":"header","schema":{"type":"string"}}]}},"/case-flex-field":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"dropdown_values":{"$ref":"#/components/schemas/CLOB"},"field_key":{"$ref":"#/components/schemas/VARCHAR2"},"field_label":{"$ref":"#/components/schemas/VARCHAR2"},"field_type":{"$ref":"#/components/schemas/VARCHAR2"},"field_value":{"$ref":"#/components/schemas/VARCHAR2"},"is_required":{"$ref":"#/components/schemas/CHAR"},"is_visible":{"$ref":"#/components/schemas/CHAR"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"string"}}]}},"/case-kpi-db":{"get":{"description":"Retrieve a record from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/case-lock-audit":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"affected_lpn":{"$ref":"#/components/schemas/VARCHAR2"},"assingned":{"$ref":"#/components/schemas/VARCHAR2"},"case":{"$ref":"#/components/schemas/VARCHAR2"},"case_description":{"$ref":"#/components/schemas/VARCHAR2"},"case_id":{"$ref":"#/components/schemas/NUMBER"},"case_number":{"$ref":"#/components/schemas/VARCHAR2"},"case_type":{"$ref":"#/components/schemas/VARCHAR2"},"case_type_id":{"$ref":"#/components/schemas/NUMBER"},"case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"description":{"$ref":"#/components/schemas/VARCHAR2"},"expiry_date":{"$ref":"#/components/schemas/VARCHAR2"},"facility_code":{"$ref":"#/components/schemas/VARCHAR2"},"facility_id":{"$ref":"#/components/schemas/NUMBER"},"id":{"$ref":"#/components/schemas/NUMBER"},"item_description":{"$ref":"#/components/schemas/VARCHAR2"},"item_number":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"location_barcode":{"$ref":"#/components/schemas/VARCHAR2"},"lock_comments":{"$ref":"#/components/schemas/VARCHAR2"},"lot_number":{"$ref":"#/components/schemas/VARCHAR2"},"lot_number_target":{"$ref":"#/components/schemas/VARCHAR2"},"order_number":{"$ref":"#/components/schemas/VARCHAR2"},"order_type":{"$ref":"#/components/schemas/VARCHAR2"},"priority":{"$ref":"#/components/schemas/VARCHAR2"},"quantity":{"$ref":"#/components/schemas/NUMBER"},"reason_code":{"$ref":"#/components/schemas/VARCHAR2"},"reason_code_id":{"$ref":"#/components/schemas/NUMBER"},"sku_value":{"$ref":"#/components/schemas/VARCHAR2"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"target_type":{"$ref":"#/components/schemas/VARCHAR2"},"target_value":{"$ref":"#/components/schemas/VARCHAR2"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"caseDescription","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"casenumber","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"casetype","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"casetypename","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"facilitycode","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"lastupdateddate","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"lockcomments","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"reasoncode","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"targetvalue","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"caseNumber","in":"header","schema":{"type":"string"}},{"name":"caseTypeName","in":"header","schema":{"type":"string"}},{"name":"caseType","in":"header","schema":{"type":"string"}},{"name":"expiryDate","in":"header","schema":{"type":"string"}},{"name":"facilityCode","in":"header","schema":{"type":"string"}},{"name":"itemDescription","in":"header","schema":{"type":"string"}},{"name":"itemNumber","in":"header","schema":{"type":"string"}},{"name":"lastUpdatedDate","in":"header","schema":{"type":"string"}},{"name":"locationBarcode","in":"header","schema":{"type":"string"}},{"name":"lockComments","in":"header","schema":{"type":"string"}},{"name":"lotNumber","in":"header","schema":{"type":"string"}},{"name":"orderNumber","in":"header","schema":{"type":"string"}},{"name":"orderType","in":"header","schema":{"type":"string"}},{"name":"quantity","in":"header","schema":{"type":"string"}},{"name":"reasonCode","in":"header","schema":{"type":"string"}},{"name":"status","in":"header","schema":{"type":"string"}},{"name":"targetType","in":"header","schema":{"type":"string"}},{"name":"targetValue","in":"header","schema":{"type":"string"}}]}},"/case-lock-mapping":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"affected_lpn":{"$ref":"#/components/schemas/VARCHAR2"},"assigned":{"$ref":"#/components/schemas/VARCHAR2"},"case":{"$ref":"#/components/schemas/VARCHAR2"},"case_description":{"$ref":"#/components/schemas/VARCHAR2"},"case_id":{"$ref":"#/components/schemas/NUMBER"},"case_number":{"$ref":"#/components/schemas/VARCHAR2"},"case_type":{"$ref":"#/components/schemas/VARCHAR2"},"case_type_id":{"$ref":"#/components/schemas/NUMBER"},"case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"description":{"$ref":"#/components/schemas/VARCHAR2"},"expiry_date":{"$ref":"#/components/schemas/VARCHAR2"},"facility_code":{"$ref":"#/components/schemas/VARCHAR2"},"facility_id":{"$ref":"#/components/schemas/NUMBER"},"id":{"$ref":"#/components/schemas/NUMBER"},"item_description":{"$ref":"#/components/schemas/VARCHAR2"},"item_number":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"location_barcode":{"$ref":"#/components/schemas/VARCHAR2"},"lock_comments":{"$ref":"#/components/schemas/VARCHAR2"},"lot_number":{"$ref":"#/components/schemas/VARCHAR2"},"lot_number_target":{"$ref":"#/components/schemas/VARCHAR2"},"order_number":{"$ref":"#/components/schemas/VARCHAR2"},"order_type":{"$ref":"#/components/schemas/VARCHAR2"},"priority":{"$ref":"#/components/schemas/VARCHAR2"},"quantity":{"$ref":"#/components/schemas/NUMBER"},"reason_code":{"$ref":"#/components/schemas/VARCHAR2"},"reason_code_id":{"$ref":"#/components/schemas/NUMBER"},"sku_value":{"$ref":"#/components/schemas/VARCHAR2"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"target_type":{"$ref":"#/components/schemas/VARCHAR2"},"target_value":{"$ref":"#/components/schemas/VARCHAR2"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"casenumber","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"casetypename","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"createddate","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"facilitycode","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"lockcomments","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"reasoncode","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"targettype","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"targetvalue","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"caseDescription","in":"header","schema":{"type":"string"}},{"name":"caseNumber","in":"header","schema":{"type":"string"}},{"name":"caseTypeName","in":"header","schema":{"type":"string"}},{"name":"createdBy","in":"header","schema":{"type":"string"}},{"name":"createdDate","in":"header","schema":{"type":"string"}},{"name":"expiryDate","in":"header","schema":{"type":"string"}},{"name":"facilityCode","in":"header","schema":{"type":"string"}},{"name":"itemDescription","in":"header","schema":{"type":"string"}},{"name":"itemNumber","in":"header","schema":{"type":"string"}},{"name":"locationBarcode","in":"header","schema":{"type":"string"}},{"name":"lockComments","in":"header","schema":{"type":"string"}},{"name":"lotNumber","in":"header","schema":{"type":"string"}},{"name":"orderNumber","in":"header","schema":{"type":"string"}},{"name":"orderType","in":"header","schema":{"type":"string"}},{"name":"quantity","in":"header","schema":{"type":"string"}},{"name":"reasonCode","in":"header","schema":{"type":"string"}},{"name":"status","in":"header","schema":{"type":"string"}},{"name":"targetType","in":"header","schema":{"type":"string"}},{"name":"targetValue","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"caseId":{"type":"string"},"caseNumber":{"type":"string"},"message":{"type":"string"},"statusCode":{"type":"string"},"wmsApiResponse":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"caseLockId","in":"header","schema":{"type":"integer"}}]}},"/case-lpn-db":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"count":{"$ref":"#/components/schemas/NUMBER"},"lpn":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[]}},"/case-schedule":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_id":{"$ref":"#/components/schemas/NUMBER"},"close_bracket":{"$ref":"#/components/schemas/VARCHAR2"},"condition":{"$ref":"#/components/schemas/VARCHAR2"},"conjunction":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"data_type":{"$ref":"#/components/schemas/VARCHAR2"},"flexipro_app":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"lock_apply_remove":{"$ref":"#/components/schemas/VARCHAR2"},"open_bracket":{"$ref":"#/components/schemas/VARCHAR2"},"product_attribute":{"$ref":"#/components/schemas/VARCHAR2"},"product_selection":{"$ref":"#/components/schemas/VARCHAR2"},"reason_code_id":{"$ref":"#/components/schemas/NUMBER"},"sequence_number":{"$ref":"#/components/schemas/NUMBER"},"value":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"integer"}},{"name":"productAttribute","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"scheduleId","in":"header","schema":{"type":"integer"}}]}},"/case-schedule-settings":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_id":{"$ref":"#/components/schemas/NUMBER"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"facility_timezone":{"$ref":"#/components/schemas/VARCHAR2"},"frequency":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_run_date":{"$ref":"#/components/schemas/TIMESTAMP"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"next_run_ts":{"$ref":"#/components/schemas/TIMESTAMP"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"time":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"integer"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"scheduleSettingId","in":"header","schema":{"type":"integer"}}]}},"/case-status-db":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"count":{"$ref":"#/components/schemas/NUMBER"},"status":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[]}},"/case-summary":{"get":{"description":"Retrieve a record from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/case-type-auto-hold":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_id":{"$ref":"#/components/schemas/NUMBER"},"close_bracket":{"$ref":"#/components/schemas/VARCHAR2"},"condition":{"$ref":"#/components/schemas/VARCHAR2"},"conjunction":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"external_application_id":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"open_bracket":{"$ref":"#/components/schemas/VARCHAR2"},"product_attribute":{"$ref":"#/components/schemas/VARCHAR2"},"product_selection":{"$ref":"#/components/schemas/VARCHAR2"},"reason_code_id":{"$ref":"#/components/schemas/NUMBER"},"sequence_number":{"$ref":"#/components/schemas/NUMBER"},"source_app_name":{"$ref":"#/components/schemas/VARCHAR2"},"source_system":{"$ref":"#/components/schemas/VARCHAR2"},"value":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"caseId","in":"header","schema":{"type":"integer"}},{"name":"sourceAppName","in":"header","schema":{"type":"string"}},{"name":"sourceSystem","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"autoHoldId","in":"header","schema":{"type":"integer"}}]}},"/case-type-db":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"casetypename":{"$ref":"#/components/schemas/VARCHAR2"},"count":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[]}},"/case-types":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_type":{"$ref":"#/components/schemas/VARCHAR2"},"case_type_code":{"$ref":"#/components/schemas/VARCHAR2"},"case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"external_reference_id":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"is_active":{"$ref":"#/components/schemas/CHAR"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"}}}}}}}}}},"parameters":[{"name":"caseTypeCode","in":"header","schema":{"type":"string"}},{"name":"caseTypeName","in":"header","schema":{"type":"string"}},{"name":"isActive","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"caseTypeCode":{"type":"string"},"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"caseTypeId","in":"header","schema":{"type":"string"}}]}},"/case-unlock-mapping":{"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}}},"/casetype-over-years":{"get":{"description":"Retrieve a record from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}}}},"/derive-apply-auto-holds":{"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}}},"/external-application":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"active":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"source_app_name":{"$ref":"#/components/schemas/VARCHAR2"},"source_system":{"$ref":"#/components/schemas/VARCHAR2"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"sourceAppName","in":"query","schema":{"type":"string"},"description":"Implicit parameter"},{"name":"sourceSystem","in":"query","schema":{"type":"string"},"description":"Implicit parameter"}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"id","in":"header","schema":{"type":"string"}}]}},"/flex-field-config":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"case_type_id":{"$ref":"#/components/schemas/NUMBER"},"case_type_name":{"$ref":"#/components/schemas/VARCHAR2"},"company_id":{"$ref":"#/components/schemas/NUMBER"},"config_id":{"$ref":"#/components/schemas/NUMBER"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"dropdown_values":{"$ref":"#/components/schemas/CLOB"},"entity_name":{"$ref":"#/components/schemas/VARCHAR2"},"field_key":{"$ref":"#/components/schemas/VARCHAR2"},"field_label":{"$ref":"#/components/schemas/VARCHAR2"},"field_order":{"$ref":"#/components/schemas/NUMBER"},"field_type":{"$ref":"#/components/schemas/VARCHAR2"},"is_required":{"$ref":"#/components/schemas/CHAR"},"is_visible":{"$ref":"#/components/schemas/CHAR"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"user_id":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"caseTypeId","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"confiqId","in":"header","schema":{"type":"string"}}]}},"/gen-program-ip":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"input_payload":{"$ref":"#/components/schemas/CLOB"},"log_id":{"$ref":"#/components/schemas/NUMBER"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"logId","in":"header","schema":{"type":"string"}}]}},"/gen-program-log":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"log_id":{"$ref":"#/components/schemas/NUMBER"},"program_log":{"$ref":"#/components/schemas/CLOB"},"program_name":{"$ref":"#/components/schemas/VARCHAR2"},"run_at":{"$ref":"#/components/schemas/TIMESTAMP"},"total_results":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"fromDate","in":"header","schema":{"type":"string"}},{"name":"programLog","in":"header","schema":{"type":"string"}},{"name":"programName","in":"header","schema":{"type":"string"}},{"name":"toDate","in":"header","schema":{"type":"string"}}]}},"/reason-code":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"auto_lock_flag":{"$ref":"#/components/schemas/CHAR"},"auto_lock_type":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"description":{"$ref":"#/components/schemas/VARCHAR2"},"external_reference_id":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"is_active":{"$ref":"#/components/schemas/CHAR"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"reason_code":{"$ref":"#/components/schemas/VARCHAR2"},"severity":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"description","in":"header","schema":{"type":"string"}},{"name":"reasonCode","in":"header","schema":{"type":"string"}},{"name":"severity","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"reasonCode":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"reasonId","in":"header","schema":{"type":"string"}}]}},"/wms-access-token":{"get":{"description":"Retrieve a record from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"parameters":[{"name":"code","in":"header","schema":{"type":"string"}},{"name":"qcm_login_id","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{}}}}}},"parameters":[{"name":"code","in":"header","schema":{"type":"string"}},{"name":"qcm_login_id","in":"header","schema":{"type":"string"}}]}},"/wms-environment-det":{"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"endpoint":{"type":"string"},"errorCode":{"type":"string"},"errorMessage":{"type":"string"},"host_name":{"type":"string"},"module":{"type":"string"},"password":{"type":"string"},"username":{"type":"string"},"wmsOauthRedirectUrl":{"type":"string"}}}}}}},"parameters":[]}},"/wms-environment-details":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"creation_date":{"$ref":"#/components/schemas/DATE"},"encrypted_password":{"$ref":"#/components/schemas/CLOB"},"encryption_key_id":{"$ref":"#/components/schemas/VARCHAR2"},"endpoint":{"$ref":"#/components/schemas/VARCHAR2"},"environment_id":{"$ref":"#/components/schemas/NUMBER"},"host_name":{"$ref":"#/components/schemas/VARCHAR2"},"iv_value":{"$ref":"#/components/schemas/RAW"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_update_date":{"$ref":"#/components/schemas/DATE"},"module":{"$ref":"#/components/schemas/VARCHAR2"},"password":{"$ref":"#/components/schemas/VARCHAR2"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"username":{"$ref":"#/components/schemas/VARCHAR2"},"wms_oauth_client_id":{"$ref":"#/components/schemas/VARCHAR2"},"wms_oauth_client_secret":{"$ref":"#/components/schemas/VARCHAR2"},"wms_oauth_client_secret_hash":{"$ref":"#/components/schemas/RAW"},"wms_oauth_redirect_url":{"$ref":"#/components/schemas/VARCHAR2"},"wms_oauth_salt":{"$ref":"#/components/schemas/RAW"},"wms_password_hash":{"$ref":"#/components/schemas/RAW"}}}}}}}}}},"parameters":[{"name":"module","in":"header","schema":{"type":"string"}},{"name":"status","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"environmentId","in":"header","schema":{"type":"string"}}]}},"/wms-lock-mapping":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"auto_apply_flag":{"$ref":"#/components/schemas/CHAR"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"priority":{"$ref":"#/components/schemas/NUMBER"},"reason_code_id":{"$ref":"#/components/schemas/NUMBER"},"wms_lock_code":{"$ref":"#/components/schemas/VARCHAR2"},"wms_reason_code":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"autoApply","in":"header","schema":{"type":"string"}},{"name":"lockType","in":"header","schema":{"type":"string"}},{"name":"qualityReasonCode","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"reasonCode":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"wmsMappingId","in":"header","schema":{"type":"string"}}]}},"/wms-lock-permissions":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"apply_codes":{"$ref":"#/components/schemas/VARCHAR2"},"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"effective_date":{"$ref":"#/components/schemas/DATE"},"expiry_date":{"$ref":"#/components/schemas/DATE"},"is_active":{"$ref":"#/components/schemas/CHAR"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"release_codes":{"$ref":"#/components/schemas/VARCHAR2"},"wms_group_id":{"$ref":"#/components/schemas/NUMBER"},"wms_group_name":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"wmsGroupName","in":"header","schema":{"type":"string"}}]},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"wmsGroupId","in":"header","schema":{"type":"integer"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}}},"/wms-oauth-access-token":{"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"qcmRole":{"type":"string"},"statusCode":{"type":"string"},"userEmail":{"type":"string"},"userName":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}}},"/wms-role-mapping":{"get":{"description":"Retrieve records from quality","responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"created_by":{"$ref":"#/components/schemas/VARCHAR2"},"created_date":{"$ref":"#/components/schemas/DATE"},"id":{"$ref":"#/components/schemas/NUMBER"},"last_updated_by":{"$ref":"#/components/schemas/VARCHAR2"},"last_updated_date":{"$ref":"#/components/schemas/DATE"},"qcm_role":{"$ref":"#/components/schemas/VARCHAR2"},"status":{"$ref":"#/components/schemas/VARCHAR2"},"wms_role":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[{"name":"qcmRole","in":"header","schema":{"type":"string"}},{"name":"wmsRole","in":"header","schema":{"type":"string"}}]},"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/quality_ITEM"}}}}},"delete":{"description":"Remove a record from quality","responses":{"204":{"description":"Deleted result."}},"parameters":[{"name":"id","in":"header","schema":{"type":"string"}}]}},"/wms-role-user-auth":{"post":{"description":"Create a new record on quality","responses":{"201":{"description":"The successfully created record.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"qcmRole":{"type":"string"},"statusCode":{"type":"string"}}}}}}},"parameters":[{"name":"companyId","in":"header","schema":{"type":"string"}},{"name":"companyName","in":"header","schema":{"type":"string"}},{"name":"loginId","in":"header","schema":{"type":"string"}},{"name":"userName","in":"header","schema":{"type":"string"}}]}}},"components":{"schemas":{"CHAR":{"type":"string"},"CLOB":{"type":"string"},"DATE":{"type":"string","format":"date-time","pattern":"^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"},"NUMBER":{"type":"number"},"RAW":{"type":"string","format":"byte"},"STRING":{"type":"string"},"TIMESTAMP":{"type":"string","format":"date-time","pattern":"^\\d{4}-[01]\\d-[0123]\\dT[012]\\d:[0-5]\\d:[0-5]\\d(.\\d+)?(Z|([-+][012]\\d:[0-5]\\d))$"},"VARCHAR2":{"type":"string"},"quality_ITEM":{"properties":{"body_text":{"type":"string"}}}}}}